@import url('./components/_index.css');
@import url('./global/_index.css'); 

* {
  margin: 0;
}
html {
  scroll-behavior: smooth;
  
}
body {
  min-height: 100vh;
  /* display: grid;
  place-content: center; */
}

em {
  font-weight: 500;
  font-style: italic;
  color: var(--clr-purple500);
}
p {
}